<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three/examples/js/controls/OrbitControls.js"></script>
</head>
<body>
    <h3>Try-On Controls</h3>
    <div id="avatar-container"></div>
    <div id="controls">
<!-- <button id="hat-button">Switch Hat</button>
<button id="shirt-button">Switch Shirt</button>
<button id="pants-button">Switch Pants</button>
<button id="shoes-button">Switch Shoes</button> -->

    <!-- <button onclick="switchClothingByToken('HAT001')">Hat 1</button>
    <button onclick="switchClothingByToken('HAT002')">Hat 2</button>
    <button onclick="switchClothingByToken('SHIRT001')">Shirt 1</button>
    <button onclick="switchClothingByToken('PANTS001')">Pants 1</button>
    <button onclick="switchClothingByToken('SHOES001')">Shoes 1</button>
         -->
    </div>
    
    <script src="/static/script.js"></script>
    
</body>
</html>
